@model IEnumerable<ApplicationPermissionsRule>

@{
    int index = 0;
}

<div class="row">
    <table class="table-responsive table-bordered table-striped mb-0" id="datatable">
        <thead>
            <tr>
                <th class="center">#</th>
                <th class="center">@Html.DisplayNameFor(model => model.Module)</th>
                <th class="center">@Html.DisplayNameFor(model => model.ADGroupDisplayName)</th>
                <th class="center">@Html.DisplayNameFor(model => model.ManagerOnly)</th>
                <th class="center">@Html.DisplayNameFor(model => model.Created)</th>
                <th class="center">@Html.DisplayNameFor(model => model.CreatedBy)</th>
                @if (ViewBag.IsAdmin)
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var applicationPermissionRule in Model)
                {
                    <tr>
                        <td class="center">@(++index)</td>
                        <td class="center">@Html.DisplayFor(u => applicationPermissionRule.Module)</td>
                        <td class="center">@Html.DisplayFor(u => applicationPermissionRule.ADGroupDisplayName)</td>
                        <td class="center">@Html.DisplayFor(u => applicationPermissionRule.ManagerOnly)</td>
                        <td class="center">@Html.DisplayFor(u => applicationPermissionRule.Created)</td>
                        <td class="center">@Html.DisplayFor(u => applicationPermissionRule.CreatedBy)</td>
                        @if (ViewBag.IsAdmin)
                        {
                            <td>
                                <div class="btn-group flex-wrap">
                                    <button type="button" class="btn btn-xs btn-outline-danger" id="delete-button" data-id="@applicationPermissionRule.Id"><i class="fa-regular fa-trash-can"></i></button>
                                </div>
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Administration/Vocabularies/General/applicationpermissionrule.index.js"></script>
}