@model ADUser

<div class="modal-header">
    <h1 class="modal-title fs-5" id="modal-title">@ViewBag.ModalTitle</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
@using (Html.BeginForm("ResetPassword", "AD", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)
    <div class="modal-body">
        <blockquote class="danger">
            <div class="form-group">
                <p style="color: #fff;">@ViewBag.ModalText</p>
                <p style="color: #fff;">@ViewBag.DefaultPassword</p>
            </div>
            <div class="radio-custom radio-primary">
                @Html.RadioButtonFor(model => model.UserMustChangePassword, "", new {onclick = "document.getElementById('PasswordNeverExpires').checked = false;"})
                @Html.LabelFor(model => model.UserMustChangePassword)
            </div>
            <div class="radio-custom radio-primary">
                @Html.RadioButtonFor(model => model.PasswordNeverExpires, true, new {onclick = "document.getElementById('UserMustChangePassword').checked = false;"})
                @Html.LabelFor(model => model.PasswordNeverExpires)
            </div>
        </blockquote>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nie</button>
        <button type="submit" class="btn btn-primary" value="Submit">Tak</button>
    </div>
}