<!doctype html>
<html class="fixed dark header-dark" lang="pl">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title | Softland ERP</title>
    <meta name="description" content="System zarządzania firmą Softland sp. z o.o.">
    <meta name="author" content="Bartłomiej Włodarczyk">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="~/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/vendor/boxicons/css/boxicons.min.css" />
    <link rel="stylesheet" href="~/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/vendor/datatables/media/css/dataTables.bootstrap5.css" />
    <link rel="stylesheet" href="~/vendor/jstree/themes/default/style.css" />

    <link rel="stylesheet" href="~/css/theme.css" />
    <link rel="stylesheet" href="~/css/skins/default.css" />
    <link rel="stylesheet" href="~/css/custom.css">

    @RenderSection("Styles", required: false)

    <script src="~/vendor/modernizr/modernizr.js"></script>
</head>
<body>
    <section class="body">
        <partial name="Partials/_HeaderPartial" />
        <div class="inner-wrapper">
            <partial name="Partials/_SidebarPartial" />
            <section role="main" class="content-body">
                <header class="page-header">
                    <h2>@ViewBag.Title</h2>
                </header>
                @RenderBody()
            </section>
        </div>
    </section>
    @await Component.InvokeAsync("NToastNotify")

    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/vendor/popper/umd/popper.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/common/common.js"></script>
    <script src="~/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/vendor/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="~/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="~/vendor/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/vendor/jquery-appear/jquery.appear.js"></script>
    <script src="~/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/vendor/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/vendor/select2/js/select2.js"></script>
    <script src="~/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/media/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.bootstrap4.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.print.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/JSZip-2.5.0/jszip.min.js"></script>
    <script src="~/vendor/loading-overlay/loadingoverlay.min.js"></script>
    <script src="~/vendor/jstree/jstree.js"></script>

    <script src="~/js/theme.js"></script>
    <script src="~/js/theme.init.js"></script>

    @RenderSection("Scripts", required: false)

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const iconToggleBtn = document.getElementById('iconToggleBtn');
            const htmlElement = document.querySelector('html');
            const iconElement = iconToggleBtn.querySelector('i');
            let isFirstClick = true;

            iconToggleBtn.addEventListener('click', function () {
                if (isFirstClick) {
                    iconElement.classList.remove('fa-sun');
                    iconElement.classList.add('fa-moon');
                    htmlElement.classList.remove('dark');
                    htmlElement.classList.add('light');
                } else {
                    iconElement.classList.remove('fa-moon');
                    iconElement.classList.add('fa-sun');
                    htmlElement.classList.remove('light');
                    htmlElement.classList.add('dark');
                }
                isFirstClick = !isFirstClick;
            });
        });
    </script>
</body>
</html>