@model KLRozlForm

<div class="modal-header">
    <h1 class="modal-title fs-5" id="modal-title">@ViewBag.ModalTitle</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

@using (Html.BeginForm("Create", "KLRozlForm", FormMethod.Post, new { @id = "createform", @autocomplete = "off" }))
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Created)
    @Html.HiddenFor(model => model.CreatedBy)
    <div class="modal-body">
        <div class="row">
            <blockquote class="danger">
                <div class="form-group">
                    @Html.LabelFor(model => model.IDK, new { @class = "col-form-label" })
                    @Html.DropDownListFor(model => model.IDK, ViewBag.IDK as SelectList, new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.IDK, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DniKredytowe, new { @class = "col-form-label" })
                    @Html.TextBoxFor(model => model.DniKredytowe, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DniKredytowe, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.LimitKredytowy, new { @class = "col-form-label" })
                    @Html.TextBoxFor(model => model.LimitKredytowy, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LimitKredytowy, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Waluta, new { @class = "col-form-label" })
                    @Html.DropDownListFor(model => model.Waluta, ViewBag.Currency as SelectList, new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.Waluta, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BlokadaTransakcji, new { @class = "col-form-label" })
                    @Html.DropDownListFor(model => model.BlokadaTransakcji, ViewBag.TakNie as SelectList, new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.BlokadaTransakcji, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BlokadaZamownia, new { @class = "col-form-label" })
                    @Html.DropDownListFor(model => model.BlokadaZamownia, ViewBag.TakNie as SelectList,new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.BlokadaZamownia, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DataPotwierdzenia, new { @class = "col-form-label" })
                    @Html.TextBoxFor(model => model.DataPotwierdzenia, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date"})
                    @Html.ValidationMessageFor(model => model.DataPotwierdzenia, "", new { @class = "text-danger" })
                </div>
                @if (Model.CreatedBy != null)
                {
                    <div class="form-group">
                        <label class="col-form-label" for="Stan">@Html.DisplayNameFor(model => model.Stan)</label>
                        @Html.DropDownListFor(model => model.Stan, ViewBag.Stany as SelectList, new { @class = "form-control select2" })
                        @Html.ValidationMessageFor(model => model.Stan, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="Status">@Html.DisplayNameFor(model => model.Status)</label>
                        @Html.DropDownListFor(model => model.Status, ViewBag.Statusy as SelectList, new { @class = "form-control select2" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                }
            </blockquote>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Odrzuć</button>
        <button type="submit" class="btn btn-primary" value="Submit">Zapisz</button>
    </div>
}

<script>
    $('.select2').select2({
        dropdownParent: $('#modal-content')
    });
</script>
<script src="~/vendor/jquery-validation/jquery.validate.js"></script>
<script src="~/vendor/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
