@model StanowiskoOprogramowanieForm

@using (Html.BeginForm("Create", "StanowiskoOprogramowanieForm", FormMethod.Post, new { @id = "createform", @autocomplete = "off" }))
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Created)
    @Html.HiddenFor(model => model.CreatedBy)
    <div class="row">
        <div class="col-md-6">
            <div style="overflow-y: auto;">
                <blockquote class="danger">
                    <div class="form-group">
                        <label class="col-form-label" for="Grupa">@Html.DisplayNameFor(model => model.Grupa)</label>
                        @Html.DropDownListFor(model => model.Grupa, ViewBag.Grupa as SelectList, new { @class = "form-control select2" })
                        @Html.ValidationMessageFor(model => model.Grupa, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="Nazwa">@Html.DisplayNameFor(model => model.Nazwa)</label>
                        @Html.DropDownListFor(model => model.Nazwa, ViewBag.GrupaNazwa as SelectList, new { @class = "form-control select2" })
                        @Html.ValidationMessageFor(model => model.Nazwa, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="Wersja">@Html.DisplayNameFor(model => model.Wersja)</label>
                        @Html.TextBoxFor(model => model.Wersja, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Wersja, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="IDI">@Html.DisplayNameFor(model => model.IDI)</label>
                        @Html.TextBoxFor(model => model.IDI, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDI, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="Instalacja">@Html.DisplayNameFor(model => model.Instalacja)</label>
                        @Html.DropDownListFor(model => model.Instalacja, ViewBag.Instalacja as SelectList, new { @class = "form-control select2"})
                        @Html.ValidationMessageFor(model => model.Instalacja, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="Rola">@Html.DisplayNameFor(model => model.Rola)</label>
                        @Html.DropDownListFor(model => model.Rola, ViewBag.Rola as SelectList, new { @class = "form-control select2"})
                        @Html.ValidationMessageFor(model => model.Rola, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="Lokalizacja">@Html.DisplayNameFor(model => model.Lokalizacja)</label>
                        @Html.TextBoxFor(model => model.Lokalizacja, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Lokalizacja, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="Opis">@Html.DisplayNameFor(model => model.Opis)</label>
                        @Html.TextBoxFor(model => model.Opis, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Opis, "", new { @class = "text-danger" })
                    </div>
                    @if (Model.CreatedBy != null)
                    {
                        <div class="form-group">
                            <label class="col-form-label" for="Stan">@Html.DisplayNameFor(model => model.Stan)</label>
                            @Html.DropDownListFor(model => model.Stan, ViewBag.Stany as SelectList, new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.Stan, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="Status">@Html.DisplayNameFor(model => model.Status)</label>
                            @Html.DropDownListFor(model => model.Status, ViewBag.Statusy as SelectList, new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    }
                </blockquote>
            </div>
            <div class="float-end">
                <button type="button" class="btn btn-secondary" onclick="window.history.back()">Odrzuć</button>
                <button type="submit" class="btn btn-primary" value="Submit">Zapisz</button>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/Forms/Stanowisko/stanowiskooprogramowanieform.create.js"></script>
    <script>
        $('.select2').select2({
            dropdownParent: $('#modal-content')
        });
    </script>
}
